## {{ ansible_managed }} ##
WEBPASSWORD={{ pihole_password_generated }}
BLOCKING_ENABLED=true
PIHOLE_INTERFACE={{ ansible_default_ipv4.interface }}
IPV4_ADDRESS={{ cidr_ip }}
IPV6_ADDRESS=
QUERY_LOGGING=true
INSTALL_WEB_SERVER=true
INSTALL_WEB_INTERFACE=true
LIGHTTPD_ENABLED=true
CACHE_SIZE=10000
DNSMASQ_LISTENING=local
PIHOLE_DNS_1=127.0.0.1#{{ port_unbound }}
DNS_FQDN_REQUIRED=true
DNS_BOGUS_PRIV=true
DNSSEC=false
REV_SERVER=false
WEBTHEME=default-dark